.container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    margin: auto;
    margin-top: 3%;
    background-color: #f08e4d;
    text-align: center;
}
  
.container .game {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.container .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}
  
.container .cell {
    background-color: #f5bc8d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cell:hover {
    background-color: rgba(231, 126, 27, 0.8);
    cursor: pointer;
    color: white;
}

.celda-seleccionada{
    background-color: #e44b0e;
}
